body 
    margin: 0
.root
    // position: fixed
.app
    // position: fixed
    // width: 100%
    // height: 100%
    // display: flex
.floor
    background: #3a989887
    height: 200px
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 30px
    &__mock
        background: #74154987
        width: 100%
        height: 100%
.game__map
    column-count: 4
    padding: 30px