.app__page
    position: relative



.app__menu-panel
    position: fixed
    background: white
    width: 50%
    height: 100%
    z-index: 2
    animation: in 0.3s forwards ease-in-out
    box-shadow: 3px 0px 10px 0px #34303087
    .header__group-links 
        display: flex
        flex-direction: column
        align-items: center
        padding: 35px 0
        div
            margin: 20px
.app__modal
    position: absolute
    background: #00000082
    z-index: 1
    width: 100%
    height: 100%
.app__btn-up
    position: fixed
    right: 0
    bottom: 0
    padding: 15px
    z-index: 2
    svg
        width: 50px
        height: 50px
        fill: #84dbfe
        box-shadow: 0px 0 0 0 #121111

.app__btn-up:hover svg
    fill: #709aab
    cursor: pointer
    
.img
    width: 100%
    height: 100%
    object-fit: fill

body 
    letter-spacing: 0.02em

html 
    scroll-behavior: smooth
    box-sizing: border-box

*,
*:before,
*:after
  box-sizing: inherit


@import './collections/animation'
@import './_nav'    
@import './_header'
@import './_about'
@import './_advantage'
@import './_table'
@import './_show-case'
@import './_icons'
@import './_gallery'
@import './_faq'
@import './_contacts'
@import './_warranty'
@import './_callback-form'
.app__links_modal
    margin-bottom: 15px

